<!-- <canvas id="bgCanvas"></canvas>
<canvas id="terCanvas"></canvas> -->

<div id="canvas-wrap">
	<canvas id="bgCanvas"></canvas>
	<canvas id="terCanvas"></canvas>
  	<div id="overlay">
  		<div class="text">
       <!--  <h1 style="font-size:xx-large;">Joy Chen</h1> -->
        <!-- <h3 >Self-Taught Web Developer since April 2020</h3>
        <p>Highly motivated, self-starting developer seeking to launch a career building web applications and services. Familiar with development and deployment process for web-based technologies.</p>
       
        
        <ul>
          <li>Design and implement frontend interfaces and backend services to assemble web applications based on user stories. </li>
          <li>Research open source to write codes adhering to standards and best practices.</li>
          <li>Attended FreeCodeCamp for certification courses. </li>
        </ul>
        <br>
        <hr class="rounded">
        <br>

  			<h2 style="font-style: italic;">Project List </h2><small style="color:pink">-- Click below links will leave current page --</small>
        <br>
        <br>
  			<div class="list">
  				<a id="link" class="buzz-out-on-hover"href="https://angularblogproject-b3c61.web.app/blog" style="text-decoration: none; color: white;">Blog - Angular and Firebase project</a>
			  	<a id="link"class="buzz-out-on-hover"href="https://happytrade-1582e.web.app/home" style="text-decoration: none; color: white">DayTradeInfoSite - Angular and Firebase project</a>
			  	<a id="link"class="buzz-out-on-hover"href="" style="text-decoration: none; color: white">PokerGame-Big2</a>
			  	<a id="link"class="buzz-out-on-hover"href="https://oshop-48171.web.app/" style="text-decoration: none; color: white">Online Shopping - Angular and Firebase project</a>
			  	<a id="link"class="buzz-out-on-hover"href="https://tictactoe-1c127.web.app" style="text-decoration: none; color: white">Tic-Tac-Toe - Angular project</a>
  			</div>
		  	 -->

  		</div>
  	
  	</div>
</div>



