<!DOCTYPE html>
<html>

<body>
<!-- 	<section class="header">
		<a href="#" class="logo"><h2>Menu</h2></a>
		<div class="toggle">Toggle</div>
	</section> -->
	<section class="banner">
		<homepage></homepage>
		<div class="content">
			<h2>Shangyi (Joy) Chen</h2>
			<!-- <p>Self-taught web developer actively looking for a career opportunity.</p> -->
			<a href="#about" class="btn"><span>Learn More</span></a>
		</div>
	</section>
	<section class="about" id="about">
		<div class="contentBx">
			<!-- <h2 class="titleText">Related Skills</h2> -->
			<h2>Self-Taught Web Developer </h2>
			
        	<p>Highly motivated, self-starting developer seeking to launch a career building web applications and services. Familiar with development and deployment process for web-based technologies.</p>

        	<!-- <ul>
          		<li>Design and implement frontend interfaces and backend services to assemble web applications based on user stories. </li>
          		<br>
          		<li>Research open source to write codes adhering to standards and best practices.</li>
          		<br>
          		<li>Attended FreeCodeCamp</li>
        	</ul> -->
 
			<p >
				<p>
					SKILLS - Javascript, Angular, Typescript, <br>HTML, CSS, Bootstrap
				</p>
			<br>
			<a href="#list" class="btn-explore">Explore My Projects</a>
		</div>
		<div class="imgBx" >
			<img src="/assets/img1.jpg" class="img1">
		</div>
	</section>
	<section class="projectList" id="list">
		<div class="list">
			<a href="https://angularblogproject-b3c61.web.app/blog">
    			<img class="projectImg"src="/assets/3.jpg" alt="- designed with Angular and Firebase" padding="3vh">
  			</a>
  			<div class="container">Blog</div>
		</div>
		<div class="list">
			<a href="https://happytrade-1582e.web.app/home">
    			<img class="projectImg"src="/assets/4.jpg"  alt=" - a website designed to display my stock trading opinions, a trading simulation game, and a community chatting function. Designed with Angular and Firebase">
  			</a>
  			<div class="container">HappyTrade</div>
		</div>
		<div class="list">
			<a href="https://oshop-48171.web.app/">
    			<img class="projectImg"src="/assets/5.jpg" alt="including authorization, check-out component and other ecommerce functions- Mosh Angular Course Project. Designed with Angular and Firebase." padding="3vh">
  			</a>
  			<div class="container">Online Shopping</div>
		</div>
		<div class="list">
			<a href="https://tictactoe-1c127.web.app">
    			<img class="projectImg"src="/assets/6.jpg"   alt=" - designed with Angular and hosted by Firebase." padding="3vh">
  			</a>
  			<div class="container">Tic-tac-toe</div>
  		</div>
		<div class="list">
			<a href="https://angularblogproject-b3c61.web.app/blog">
    			<img class="projectImg"src="/assets/3.jpg" alt="Poker Game" >
  			</a>
  			<div class="container">Poker Game</div>
		</div>
		<!-- <div class="list"> -->
		<div class="btns-cont">
			<!-- <div class="demo-circle"> -->
				<a class="btn-demo" href="https://angularblogproject-b3c61.web.app/blog">View Demo
	  			</a>
	  			<br>
	  			<a class="btn-demo" href="https://angularblogproject-b3c61.web.app/blog">View Contact
	  			</a>
  			<!-- </div> -->
		</div>
		
	<!-- 	</div> -->
	</section>
	<section class="footer">
		
	</section>

</body>
</html>